footer(class="footer") 
   p(class="footer-1") Built by Alex Baroody.
   a(class="footer-2" href="https://github.com/baroodya/personal-website" target="_blank") Code for this website
   a(class="footer-3" href="https://www.linkedin.com/in/alex-baroody/" target="_blank") My LinkedIn page.
   p(class="footer-4") © 2021. 