footer(class="footer") 
   p(class="footer-1") Built by Alex Baroody.
   a(class="footer-2" href="") Code for this website
   a(class="footer-3" href="") My LinkedIn page.
   p(class="footer-4") © 2021. 