/* Sitewide styles */
html, body {
  height: 100%;
}

body {
  font: 18px "Times New Roman", Times, serif;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(32, 32, 32);
}

a {
  color: #00B7FF;
}

h1 {
  margin: 0;
}

p {
  color: whitesmoke;
}

/* index specific styles */
.index-header {
  /* Background */
  background-image: url(../images/index-background.jpg);

  /* Alignment */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Size */
  position: fixed;
  width: 100%;
  height: 50%;
  top: 0;
}

.index-header-dummy {
  /* Alignment */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Size */
  width: 100%;
  height: 50%;

  flex: 1 0 auto;
}

.index-header-text {
  /* Text Content */
  font: 36px "Times New Roman", Times, serif;
  color: whitesmoke;
  position: relative;
}

.index-header::before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.15);
}

.index-content {
  background-color: rgb(64, 64, 64);

  box-shadow: 5px 5px 50px black;

  width: 80%;
  display: flex;
  justify-content: center;

  flex: 0 0 auto;

  padding: 20px;

  z-index: -1;
}

.footer {  
  flex-shrink: 0;

  padding: 20px;

  color: whitesmoke;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-1 {
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  display: flex;
  justify-content: center;
}

.footer-2 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  display: flex;
  justify-content: center;
}

.footer-3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5px;
  margin-inline-end: 5px;
  display: flex;
  justify-content: center;
}

.footer-4 {
  margin-inline-start: 5px;
  margin-inline-end: 0px;
  display: flex;
  justify-content: center;
}